<template>
  <div>
    <div class="list-title">
      <h1>LIST USER</h1>
    </div>

    <!-- modal delete -->
    <b-modal id="modal-delete-user">
      <template #modal-header>
        <h5>Delete User</h5>
      </template>

      <template>
        Do you want to delete this user?
      </template>

      <template #modal-footer="{ cancel }">
        <b-button size="sm" @click="deleteUser()" variant="danger">
          DELETE
          <b-spinner v-if="loadingAdd" style="width: 1rem; height: 1rem;" variant="light" type="grow" label="Spinning"></b-spinner>
        </b-button>
        <b-button size="sm" variant="success" @click="cancel()">
          CANCEL
        </b-button>
      </template>
    </b-modal>

    <!-- modal add/edit user -->
    <b-modal id="modal-add-edit-user">
      <template #modal-header>
        <h5>{{ id ? 'Edit User' : 'Add User' }}</h5>
      </template>

      <template>
        <div>
          <label for="input-live">First Name:</label>
          <b-form-input
            id="input-live"
            v-model="firstname"
            :state="checkFirstName"
            aria-describedby="input-live-help input-name-feedback"
            placeholder="Enter your name"
            trim
          ></b-form-input>
          <b-form-invalid-feedback id="input-name-feedback">
            Please input the data
          </b-form-invalid-feedback>
        </div>
        <div>
          <label for="input-live">Last Name:</label>
          <b-form-input
            id="input-live"
            v-model="lastname"
            :state="checkLastName"
            aria-describedby="input-live-help input-name-feedback"
            placeholder="Enter your name"
            trim
          ></b-form-input>
          <b-form-invalid-feedback id="input-name-feedback">
            Please input the data
          </b-form-invalid-feedback>
        </div>
        <div>
          <label for="input-live">Email:</label>
          <b-form-input
            id="input-live"
            v-model="email"
            :state="checkEmail"
            aria-describedby="input-live-help input-email-feedback"
            placeholder="Enter your name"
            trim
          ></b-form-input>
          <b-form-invalid-feedback id="input-email-feedback">
            Please input the data
          </b-form-invalid-feedback>
        </div>
        <div>
          <label for="input-live">Phone:</label>
          <b-form-input
            id="input-live"
            v-model="phone"
            :state="checkPhone"
            aria-describedby="input-live-help input-phone-feedback"
            placeholder="Enter your name"
            trim
          ></b-form-input>
          <b-form-invalid-feedback id="input-phone-feedback">
            Please input the data
          </b-form-invalid-feedback>
        </div>
        <div>
          <label for="input-live">User Name:</label>
          <b-form-input
            id="input-live"
            v-model="userName"
            :state="checkUserName"
            aria-describedby="input-live-help input-username-feedback"
            placeholder="Enter your name"
            trim
          ></b-form-input>
          <b-form-invalid-feedback id="input-username-feedback">
            Please input the data
          </b-form-invalid-feedback>
        </div>
      </template>

      <template #modal-footer="{ cancel }">
        <b-button size="sm" :disabled="disabledAdd" @click="addUser()" variant="success">
          {{ id ? 'EDIT' : 'ADD' }}
          <b-spinner v-if="loadingAdd" style="width: 1rem; height: 1rem;" variant="light" type="grow" label="Spinning"></b-spinner>
        </b-button>
        <b-button size="sm" variant="danger" @click="cancel()">
          CANCEL
        </b-button>
      </template>
    </b-modal>

    <!-- table user -->
    <div class="table-container">
      <div v-if="!loading" class="table">
        <div class="container-btn-add">
          <button class="btn-add" @click="clearData(); $bvModal.show('modal-add-edit-user')">
            Add User
          </button>
        </div>
        <b-table
          id="my-table"
          :items="items"
          :per-page="perPage"
          :current-page="currentPage"
          small
          striped
          hover
          responsive
        >
        <template #cell(action)="data">
          <button style="margin-right: 10px; border-radius: 10px; outline: none; border: none; background-color: orange;" @click="openUpdateUser(data.item)">
            update
          </button>
          <button style="border-radius: 10px; outline: none; border: none; background-color: red; color: white;" @click="openModalDelete(data.item.ID)">
            delete
          </button>
        </template>
        </b-table>
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          pills
          :per-page="perPage"
          aria-controls="my-table"
        ></b-pagination>
      </div>
      <b-spinner v-else style="width: 5rem; height: 5rem;" label="Large Spinner"></b-spinner>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'

export default {
  data () {
    return {
      loadingAdd: false,
      loading: false,
      perPage: 5,
      currentPage: 1,
      items: [],
      firstname: '',
      lastname: '',
      email: '',
      phone: '',
      userName: '',
      id: null
    }
  },
  methods: {
    clearData () {
      this.id = null
      this.firstname = ''
      this.lastname = ''
      this.email = ''
      this.phone = ''
      this.userName = ''
    },
    openModalDelete (id) {
      this.id = id
      this.$bvModal.show('modal-delete-user')
    },
    deleteUser () {
      this.loadingAdd = true
      const url = `https://fakestoreapi.com/users/${this.id}`
      axios({
        method: 'DELETE',
        headers: {
          'Content-type': 'application/json'
        },
        url
      })
        .then((response) => {
          Swal.fire({
            title: 'Success!',
            text: 'Success Delete User',
            icon: 'success',
            timer: 1000,
            showConfirmButton: false
          })
          this.$bvModal.hide('modal-delete-user')
          this.loadingAdd = false
          this.getAllUser()
        })
        .catch((error) => {
          Swal.fire({
            title: 'Error!',
            text: error.response.message,
            icon: 'error',
            timer: 1000,
            showConfirmButton: false
          })
          this.loadingAdd = false
        })
    },
    openUpdateUser (data) {
      this.id = data.ID
      this.firstname = data.Name.split(' ')[0]
      this.lastname = data.Name.split(' ')[1]
      this.email = data.Email
      this.phone = data.Phone
      this.userName = data.Username

      this.$bvModal.show('modal-add-edit-user')
    },
    updateUser () {
      this.loadingAdd = true
      const url = 'https://fakestoreapi.com/users'
      axios({
        method: 'PUT',
        headers: {
          'Content-type': 'application/json'
        },
        url,
        data: {
          name: {
            firstname: this.firstname,
            lastname: this.lastname
          },
          email: this.email,
          phone: this.phone,
          username: this.userName
        }
      })
        .then((response) => {
          Swal.fire({
            title: 'Success!',
            text: 'Success Create User',
            icon: 'success',
            timer: 1000,
            showConfirmButton: false
          })
          this.$bvModal.hide('modal-add-edit-user')
          this.loadingAdd = false
        })
        .catch((error) => {
          Swal.fire({
            title: 'Success!',
            text: error.response.message,
            icon: 'success',
            timer: 1000,
            showConfirmButton: false
          })
          this.loadingAdd = false
        })
    },
    addUser () {
      this.loadingAdd = true
      const url = this.id ? `https://fakestoreapi.com/users/${this.id}` : 'https://fakestoreapi.com/users'
      axios({
        method: this.id ? 'PUT' : 'POST',
        headers: {
          'Content-type': 'application/json'
        },
        url,
        data: {
          name: {
            firstname: this.firstname,
            lastname: this.lastname
          },
          email: this.email,
          phone: this.phone,
          username: this.userName
        }
      })
        .then((response) => {
          Swal.fire({
            title: 'Success!',
            text: this.id ? 'Success Edit User' : 'Success Create User',
            icon: 'success',
            timer: 1000,
            showConfirmButton: false
          })
          this.$bvModal.hide('modal-add-edit-user')
          this.loadingAdd = false

          this.getAllUser()
        })
        .catch((error) => {
          Swal.fire({
            title: 'Error!',
            text: error.response.message,
            icon: 'error',
            timer: 1000,
            showConfirmButton: false
          })
          this.loadingAdd = false
        })
    },
    getAllUser () {
      this.items = []
      this.loading = true
      const url = 'https://fakestoreapi.com/users'
      axios({
        method: 'get',
        headers: {
          'Content-type': 'application/json'
        },
        url
      })
        .then((response) => {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })

          Toast.fire({
            icon: 'success',
            title: 'Success Fetch User'
          })
          const data = response.data

          for (let i = 0; i < data.length; i++) {
            this.items.push({
              ID: data[i].id,
              Name: data[i].name.firstname + ' ' + data[i].name.lastname,
              Email: data[i].email,
              Phone: data[i].phone,
              Username: data[i].username,
              Action: ''
            })
          }
          this.loading = false
        })
        .catch((error) => {
          this.loading = false
          Swal.fire({
            title: 'Error!',
            text: error.response.message,
            icon: 'error',
            timer: 1000,
            showConfirmButton: false
          })
        })
    }
  },
  created () {
    this.getAllUser()
  },
  computed: {
    rows () {
      return this.items.length
    },
    checkFirstName () {
      return this.firstname.length > 0
    },
    checkLastName () {
      return this.lastname.length > 0
    },
    checkEmail () {
      return this.email.length > 0
    },
    checkPhone () {
      return this.phone.length > 0
    },
    checkUserName () {
      return this.userName.length > 0
    },
    disabledAdd () {
      return !this.checkFirstName || !this.checkLastName || !this.checkEmail || !this.checkPhone || !this.checkUserName
    }
  }
}
</script>
<style scoped>
  .list-title {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .table-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100vh - 1px);
    align-items: center;
    vertical-align: middle;
  }
  .table {
    width: 95%;
  }
  .container-btn-add {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
  }
  .btn-add {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #16a085;
    color: white;
  }
</style>
