<template>
  <div class="notfound">
    <img width="30%" src="../assets/notFound.gif" alt="">
  </div>
</template>

<style scoped>
  .notfound {
    width: 100%;
    height: calc(100vh - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }
</style>
