<template>
  <router-view/>
</template>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  #app {
    font-family: 'Poppins',sans-serif;
  }
</style>
